body {
	margin: auto;
	width: 50%;
}

button {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width: 250px;
    display: block;
	margin: auto;	
}

button:hover {
	background-color: black;
	color: #e7e7e7;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.avatar {
	width: 300px;
	height: 100%;
	text-align: center;
	padding: auto;
	display: block;
	margin: auto;

}

.avatar img {
	max-width: 100%;
	height: auto;
	border: 5px solid black;
}

.question {
	border: 5px solid red;
	text-align: center;
	border-radius: 25px;

}